.header{
	border: 5px solid;
	margin: 0px;
	text-align: center;
	background-image: url('header.jpg');
	background-position: bottom;
}
h1{
	color: white;
}

body{
	background-image: url('body.jpg');
	background-size: 1300px; 
	background-repeat: no-repeat;


}
ul{
	color: white;
	text-align: center;
}
li{
	display: inline-block;
	padding: 10px;
}

#home{
	color: black;
	background-color: orange;
	border: 5px dotted;
	border-color: gold;
	margin-right: 300px;
	margin-left: 300px;
}